.flex1 {
    display: flex;
    justify-content: space-between;
}

.flex2 {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin-left: 1em;
}

h1 {
    margin-bottom: 0px;
}

.hr_footer {
    display: flex;
    margin-top: 5em;
    margin-left: 3em;
    margin-right: 3em;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    margin-left: 3em;
    color: rgb(112, 101, 101);
}

.flex_connexion {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin-bottom: 20px;
}

#creation {
    display: none;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
}

.button_connexion {
    padding: 10px;
    font-size: 1em;
    color: #fff;
    background-color: #008C45;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.button_creer {
    margin-top: 10px;
    align-items: center;
    cursor: pointer;
    color: #CD212A;
}


button:hover {
    background-color: #CD212A;
}


@media (min-width: 320px) and (max-width: 720px) {
}